@import url("./variable.css");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-family);
}

.navbar {
	width: 100vw;
	height: 60px;
	background-color: #000;
	display: flex;
	color: white;
	justify-content: space-between;
	align-items: center;
	padding-left: 60px;
	padding-right: 60px;
}

.nav-list {
	display: flex;
	list-style-type: none;
	gap: 30px;
}

.section {
	width: 100vw;
	display: flex;
	flex-direction: column;
	padding: 25px;
	gap: 25px;
}

.heading {
	color: #000;
	font-family: Inter;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 20px;
}

.paragraph {
	color: #000;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.button {
	display: flex;
	gap: 15px;
	margin-top: 20px;
}

#login {
	background: #000;
	color: #fff;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 110px;
	height: 35px;
	border-radius: 2px;
}

#signup {
	background: #000;
	color: #fff;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 110px;
	height: 35px;
	border: none;
	border-radius: 2px;
	border: 2px solid #000;
	background: #fff;
	color: #000;
}

.img > img:nth-child(1) {
	width: 100%;
	height: 100%;
}

.section > div:nth-child(2) {
	display: flex;
	justify-content: space-between;
}

.img {
	height: 74vh;
}

.section {
	padding-left: 70px;
	padding-right: 70px;
	margin-top: 35px;
}

.shop-name > a {
	text-decoration: none;
	color: #fff;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.nav-list > li > a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
